<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1" />
    <title>Collective Builds - PC Rig Index</title>
	<!-- Favicon -->
	<link rel="shortcut icon" href="lib/images/favicon.png">
    <meta name="description" content="The best collection and examples of complete PC builds in one place.">
    <meta name="author" content="Collective Builds">

	<!-- 1140px Grid styles for IE -->
	<!--[if lte IE 9]><link rel="stylesheet" href="lib/css/ie.css" type="text/css" media="screen" /><![endif]-->

    <!-- CSS concatenated and minified via ant build script-->
    <link rel="stylesheet" href="lib/css/style.css">
    <link rel="stylesheet" href="lib/css/fonts.css">
    <link rel="stylesheet" href="lib/css/animate.css">
    <link rel="stylesheet" href="lib/js/prettyPhoto/css/prettyPhoto.css">
    <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
    <!-- end CSS-->

    <script src="lib/js/jquery-1.11.1.min.js"></script>
    <script src="lib/js/jquery-migrate-1.2.1.js"></script>
    <style type="text/css">
</style>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-56022500-1', 'auto');
  ga('send', 'pageview');
</script>

</head>

<body>

    <!--begin container -->
    <div id="container">

        <!--begin header_wrapper -->
        <header id="header_wrapper">

            <!--begin header -->
            <div id="header" class="clearfix">

                <!--begin logo -->

                <a href="index.html" id="logo">Collective<span class="blue">Builds</span></a>
                <!--end logo -->


                <!-- Twitter Button FIX ALIGNMENT -->
                <!-- Twitter Button FIX ALIGNMENT -->
                <!-- Twitter Button FIX ALIGNMENT -->
                <!-- Twitter Button FIX ALIGNMENT -->
               <!--
                <a class="twitter-share-button" href="https://twitter.com/share" data-via="twitterdev">Tweet</a>
<script type="text/javascript">
window.twttr=(function(d,s,id){var t,js,fjs=d.getElementsByTagName(s)[0];if(d.getElementById(id)){return}js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);return window.twttr||(t={_e:[],ready:function(f){t._e.push(f)}})}(document,"script","twitter-wjs"));
</script>
                -->

                <!--begin suggest3 button -->
                 <a href="https://docs.google.com/forms/d/1Sg26Beeq4nmc2n-9yfHuePazVnOmEfvLFn8ZyZMRmLs/viewform" class="suggest3" target="_blank">General Feedback</a>
                <!--end suggest3 button -->

                <!--begin suggest button -->
                <a href="https://docs.google.com/forms/d/1_tYXYZkLRISijgWuhputShlxD8dMI5ZzSa-Lt2ArCG0/viewform" class="suggest scrool" target="_blank">Suggest a Category</a>
                <!--end suggest button -->



                <!-- ADDED. CSS Changed as well -->
                <!-- ADDED. CSS Changed as well -->
                <!-- ADDED. CSS Changed as well -->
                <!-- ADDED. CSS Changed as well -->
                <a href="https://docs.google.com/forms/d/1ztrpy1_y8_DdU9GqpigbioYRXX1FfQE93NGEhjpar7g/viewform" class="suggest2" target="_blank">Suggest a Build to Add</a>




                <!--begin nav -->
                <nav id="navigation" role="navigation">
                    <ul id="nav">
                        <li>
                            <a href="#container">Home</a>
                        </li>

                    </ul>
                </nav>
                <!--end nav -->

            </div>
            <!--end header -->

        </header>
        <!--end header_wrapper -->

        <p></p>

        <body>
<center>

      <h1> Soon to be the best collection of PC builds in one place.</h1>
        <h2>With your help of course.</h2>

      <h4>These are some PC builds suggested so far. We know you have a kick ass build to contribute. So what are you waiting for? Go ahead and click the "Suggest a Build Button" at the bottom of each category. We also know you are thinking we should add a whole new category of builds. That's called being awesome. And awesome people click the "Suggest a Category" button at the top. <br> We would also like to thank you because you're awesome. <br> So thanks!<h4>


<!-- Gaming Under $600 -->  <!-- Gaming Under $600 -->

<table style="width:90%;" class="mainTable">
<tr class="TableToggle">
<th colspan="5">Builds</th>

</tr>
<tr class="subHeadings">
    <th>Name</th>
    <th>CPU</th>
    <th>Video Card</th>
    <th>Total Price</th>
</tr>

<!-- Row 1 -->
<% @builds.each do |build| %>
    <tr class="tablerow">   
        <td><%=build["name"]%></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
<% end %>


</table>

           <!--begin social icons -->
        <center>
                    <ul class="social_icons fade_in">
                        <li>

                            <a href="http://www.twitter.com/share" target="_blank">
                                <i class="icon icon-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="http://www.facebook.com" target="_blank">
                                <i class="icon icon-facebook"></i>
                            </a>
                        </li>
                    </ul>
            </center>
                    <!--end social icons -->


        <!--begin footer -->
        <footer id="footer">

            <!--begin footer_box -->
            <div id="footer_box">

                <p class="up_fade">Copyright © 2014 Collective Builds</p>

            </div>
            <!--end footer_box -->

        </footer>
        <!--end footer -->

    </div>
    <!--! end of #container -->

    <!-- scripts concatenated and minified via ant build script-->
    <script src="lib/js/modernizr-2.6.1.min.js"></script>
    <script src="lib/js/plugins.js"></script>
    <script src="lib/js/prettyPhoto/js/jquery.prettyPhoto.js"></script>
    <script src="lib/js/script.js"></script>
    <script src="lib/js/jquery.inview.js"></script>

    <!-- begin jquery.sticky script-->
    <script type="text/javascript" src="lib/js/jquery.sticky.js"></script>
		<script>
        $(window).load(function(){
          $("#header_wrapper").sticky({ topSpacing: 0 });
        });
    </script>
    <!-- end jquery.sticky script-->


    <!-- begin menu scrollTo script-->
    <script src="lib/js/jquery.scrollTo-min.js"></script>
    <script type="text/javascript">
		(function($){
			$(document).ready(function() {
			/* This code is executed after the DOM has been completely loaded */

				$("#nav li a, a.scrool").click(function(e){

					var full_url = this.href;
					var parts = full_url.split("#");
					var trgt = parts[1];
					var target_offset = $("#"+trgt).offset();
					var target_top = target_offset.top;


					$('html,body').animate({scrollTop:target_top -69}, 1000);
						return false;

				});

				// table toggle function
				$('.mainTable').not(':first').find('.tablerow').toggle();
				$('.TableToggle').click(function(){
				    var a = $(this).closest('tr');
				   	a.next().nextUntil('tr:has(.tablerow)').toggle();
				});

			});
		})(jQuery);
    </script>
	<!-- end menu scrollTo script-->


    <!-- begin menu color script-->
    <script src="lib/js/jquery.nav.js"></script>
	<script>
	$(document).ready(function() {
		$('#nav').onePageNav({
		filter: ':not(.external)',
		scrollThreshold: 0.25
		});
	});
	</script>
    <!-- end menu color script-->


    <!--begin shrink header script -->
    <script>
	$(function(){
	 var shrinkHeader = 70;
	  $(window).scroll(function() {
		var scroll = getCurrentScroll();
		  if ( scroll >= shrinkHeader ) {
			   $('#header_wrapper').addClass('shrink');
			}
			else {
				$('#header_wrapper').removeClass('shrink');
			}
	  });
	function getCurrentScroll() {
		return window.pageYOffset;
		}
	});
	</script>

    <!--end shrink header script -->

<body>
</html>
