<center>
          <table style="width:90%;" class="mainTable">
            <tr class="InfoTable">
                <style> td {
                    border: 12px solid #fff;
                }
                </style>

            </tr>
            <tr class="infoHeadings">
                <th></th>
                <th>Component</th>
                <th>Name</th>
                <th>Part Price</th>
            </tr>

	    <% @build["parts"].each do |part| %>
            <tr>
                <td><img src=<%="/lib/images/icons/"+part["type"].downcase.gsub(" ", "-")+".jpg"%> alt="some_text"></td>
                <td><%= part["type"] %></td>
                <td><%= part["name"]%></td>
                <td><%= part["price"]%></td>
            </tr>
	    <% end %>

          </table>
</center>
