<center>
<h3 style="margin-top:25px;">Build Submission</h3>
<form action="/new_build" method="post">
   <b>Name</b><br/>
   <input type="text" name="name"><br/>
   <b>PC Part Picker URL</b><br/>
   <input type="text" name="url"><br/>
   <input type="submit" style="margin-top:15px;margin-bottom:50px;">
</form>
</center>